################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cisco-EOL-Device-Migration-Options/FileContentIndex
/.vs
